.AnchorPane {
  -fx-font-family: sans-serif;
}

.AnchorPaneLogin {
  -fx-background-color: #ffff;
}

.ButtonRegister {
  -fx-background-color: #98ffbe;
  -fx-background-radius: 12;
  -fx-border-color: #000000;
  -fx-border-radius: 12;
  -fx-font-size: 12px;
  -fx-font-weight: 700;
}

/* Testar Hover e Pressionado */

/*
.ButtonRegister:hover {
  -fx-background-color: #000;
  -fx-opacity: 10.0;
}

.ButtonRegister:pressed {
  -fx-scale-y: 0.9;
  -fx-scale-x: 0.9;
} 
*/

.ButtonAlter {
  -fx-background-color: #a5d9ff;
  -fx-background-radius: 12;
  -fx-border-color: #000000;
  -fx-border-radius: 12;
  -fx-font-size: 12px;
  -fx-font-weight: 700;
}

.ButtonRemove {
  -fx-background-color: #f79595;
  -fx-background-radius: 12;
  -fx-border-color: #000000;
  -fx-border-radius: 12;
  -fx-font-size: 12px;
  -fx-font-weight: 700;
}

.ButtonAppointment {
  -fx-background-color: #fffda5;
  -fx-background-radius: 12;
  -fx-border-color: #000000;
  -fx-border-radius: 12;
  -fx-font-size: 12px;
  -fx-font-weight: 700;
}

.ButtonSearch {
  -fx-background-image: url("/view/images/search.png");
  -fx-pref-height: 32px;
  -fx-pref-width: 32px;
}

.LabelTitle {
  -fx-font-size: Arial 22px;
  -fx-border-color: #000;
  -fx-border-insets: 5 0 5 0;
  -fx-border-radius: 10;
  -fx-padding: 5 8 5 8;
}

.LabelDetails {
  -fx-font: Tahoma 22px;
  -fx-font-size: 16px;
  -fx-font-weight: 700;
}

.LabelSearch {
  -fx-font-size: Arial 18px;
  -fx-font-weight: 900;
}

.MenuBar {
  -fx-font-size: 16px;
  -fx-spacing: 93;
  -fx-font-weight: 600;
  -fx-alignment: center;
}
